
html {
font-family: arial, sans-serif;
}


.official {
                font-size: 3em;
}

.centralisation {
          display: grid;
          place-content: center;
}

.purchaseButton {
	background: orange
	;
}


.padding {
	padding: 2.5em;
}

.container {
    display: grid;
    grid-template-columns: 5em 100px 30%;
    grid-template-rows: 200px auto;
    gap: 10px;
}